<a href="https://colab.research.google.com/github/roshanappa/Clustering-Of-Mixed-Datatypes/blob/main/Kprototypes_For_Mixed_Datatypes_clustering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

- If you have ecommerce kind of business and you want to send the promotional offer to the some standard customer not to all customer.Rather you want to cluster the customer in different bucket based on the demographic and based on the product behaviour and you wanted to targeted offer to each cluster of customers.In this case you may get the combination of categorical data and continuous data.

- In the case of clustering,we always prefer the K-means clustering,it help us to get the cluster of the continuous data by using the eucleadian distance and data points mean.

- In this scinario the categorical data is not applicable and if we use by using labelencoding or onehotending even it does not makes any sense.

- For that we have another algorithm this called as `KPrototypes`

In [1]:
!pip install kmodes

Collecting kmodes
  Downloading kmodes-0.11.0-py2.py3-none-any.whl (18 kB)
Requirement already satisfied: numpy>=1.10.4 in /usr/local/lib/python3.7/dist-packages (from kmodes) (1.19.5)
Requirement already satisfied: scipy>=0.13.3 in /usr/local/lib/python3.7/dist-packages (from kmodes) (1.4.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from kmodes) (1.0.1)
Requirement already satisfied: scikit-learn>=0.22.0 in /usr/local/lib/python3.7/dist-packages (from kmodes) (0.22.2.post1)
Installing collected packages: kmodes
Successfully installed kmodes-0.11.0

In [2]:
import numpy as np
import pandas as pd

In [3]:
from kmodes.kprototypes import KPrototypes

In [4]:
marketing_df = pd.read_csv('https://raw.githubusercontent.com/srivatsan88/YouTubeLI/master/dataset/marketing_cva_f.csv')

In [5]:
marketing_df

     Customer       State  ...  Vehicle_Class avg_vehicle_age
0     BU79786  Washington  ...   Two-Door Car       40.696695
1     AI49188      Nevada  ...   Two-Door Car       48.755298
2     HB64268  Washington  ...  Four-Door Car       70.394474
3     OC83172      Oregon  ...   Two-Door Car       53.460212
4     XZ87318      Oregon  ...  Four-Door Car       32.811507
...       ...         ...  ...            ...             ...
6812  TF56202  California  ...   Two-Door Car       37.492591
6813  YM19146  California  ...  Four-Door Car       48.946675
6814  LA72316  California  ...  Four-Door Car       65.310053
6815  PK87824  California  ...  Four-Door Car       48.002914
6816  UP19263  California  ...  Four-Door Car       45.151858

[6817 rows x 12 columns]

There are so many columns are avaliable and each column having the different datatypes.So in order reduce the complexity we are going foreward and selecting few columns for simplicity.

In [7]:
marketing_df = marketing_df.drop(columns=['Customer','Vehicle_Class','avg_vehicle_age','months_last_claim','Total_Claim_Amount'])

In [8]:
marketing_df

           State           CLV  ... monthly_premium  Months_Since_Policy_Inception
0     Washington   2763.519279  ...              69                              5
1         Nevada  12887.431650  ...             108                             38
2     Washington   2813.692575  ...              73                             44
3         Oregon   8256.297800  ...              69                             94
4         Oregon   5380.898636  ...              67                             13
...          ...           ...  ...             ...                            ...
6812  California   5032.165498  ...              64                             48
6813  California   4100.398533  ...             104                             58
6814  California  23405.987980  ...              73                             89
6815  California   3096.511217  ...              79                             28
6816  California   7524.442436  ...              96                              3

[6817 rows x 7 columns]

Now we are going to convert pandas dataframe into the numpy array.

In [11]:
mark_array = marketing_df.to_numpy()

Now we are going to convert the each numerical column in float datatypes.

In [12]:
mark_array[:,1] = mark_array[:,1].astype('float')
mark_array[:,3] = mark_array[:,3].astype('float')
mark_array[:,5] = mark_array[:,5].astype('float')
mark_array[:,6] = mark_array[:,6].astype('float')

In [13]:
mark_array

array([['Washington', 2763.519279, 'Basic', ..., 'Suburban', 69.0, 5.0],
       ['Nevada', 12887.43165, 'Premium', ..., 'Suburban', 108.0, 38.0],
       ['Washington', 2813.692575, 'Basic', ..., 'Rural', 73.0, 44.0],
       ...,
       ['California', 23405.98798, 'Basic', ..., 'Urban', 73.0, 89.0],
       ['California', 3096.511217, 'Extended', ..., 'Suburban', 79.0,
        28.0],
       ['California', 7524.442436, 'Extended', ..., 'Suburban', 96.0,
        3.0]], dtype=object)

Now,we can see that all the numrical datatype is getting converted into the float data type format.

In the below we have use the algorithm and in that we have first go for the 3 clsuter and uses the number of iteration 100 and while fit_predict method we have decleare over there that we having the categorical variable at the 0th,2nd and 4th index position of columns.

In [14]:
kproto = KPrototypes(n_clusters=3,verbose=2,n_jobs=-1,max_iter=100,random_state=42)
cluster = kproto.fit_predict(mark_array,categorical=[0,2,4])

Best run was number 1

In [15]:
print(kproto.cluster_centroids_)

[['8319.71977855694' '54736.470943747096' '95.09437470943747'
  '49.14923291492329' 'California' 'Basic' 'Suburban']
 ['8055.071059713504' '82981.0392699115' '90.96183628318585'
  '47.61338495575221' 'California' 'Basic' 'Suburban']
 ['8035.160144780607' '26660.126312106368' '92.62491252624213'
  '46.98040587823653' 'California' 'Basic' 'Suburban']]

In [17]:
cluster_lst =[]

for i in cluster:
  cluster_lst.append(i)

In [18]:
cluster_lst

[0,
 0,
 0,
 0,
 0,
 2,
 2,
 1,
 1,
 1,
 2,
 2,
 2,
 0,
 0,
 0,
 2,
 2,
 2,
 1,
 2,
 1,
 1,
 2,
 0,
 0,
 2,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 0,
 0,
 2,
 2,
 2,
 2,
 0,
 2,
 2,
 0,
 2,
 1,
 0,
 2,
 1,
 2,
 1,
 2,
 2,
 0,
 0,
 2,
 0,
 2,
 2,
 2,
 0,
 2,
 2,
 2,
 1,
 1,
 0,
 1,
 2,
 2,
 0,
 2,
 0,
 0,
 0,
 2,
 2,
 1,
 0,
 2,
 2,
 0,
 0,
 2,
 2,
 1,
 1,
 0,
 1,
 2,
 2,
 0,
 0,
 2,
 2,
 2,
 0,
 2,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 2,
 1,
 2,
 1,
 2,
 2,
 1,
 2,
 0,
 2,
 2,
 0,
 1,
 2,
 2,
 1,
 2,
 2,
 2,
 0,
 2,
 0,
 1,
 2,
 2,
 2,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 2,
 0,
 0,
 2,
 2,
 2,
 0,
 0,
 2,
 1,
 1,
 1,
 2,
 1,
 1,
 1,
 1,
 2,
 2,
 1,
 1,
 1,
 0,
 2,
 2,
 2,
 0,
 2,
 2,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 2,
 1,
 0,
 2,
 0,
 2,
 2,
 0,
 2,
 1,
 2,
 2,
 1,
 2,
 2,
 1,
 2,
 2,
 2,
 1,
 1,
 2,
 0,
 2,
 2,
 2,
 1,
 2,
 0,
 2,
 0,
 1,
 1,
 1,
 1,
 1,
 2,
 2,
 1,
 0,
 0,
 2,
 1,
 2,
 2,
 0,
 0,
 2,
 2,
 0,
 1,
 1,
 2,
 1,
 0,
 0,
 2,
 0,
 1,
 2,
 0,
 2,
 2,
 2,
 0,
 0,
 2,
 0,
 0,
 1,
 2,
 2,
 0,
 2,
 2,
 1,
 1,
 0,
 0,
 1,
 1,
 2,
 2,
 0,
 0,
 2,
 2,
 0,
 2,
 2,
 2,
 0,
 0,
 2,
 0,
 2,
 2,
 1,
 1,
 0,
 0,
 1,
 0,
 2,
 2,
 2,
 1,
 0,
 1,
 0,
 0,
 0,
 2,
 0,
 2,
 0,
 2,
 2,
 0,
 2,
 2,
 1,
 1,
 1,
 2,
 0,
 2,
 1,
 0,
 1,
 1,
 0,
 2,
 2,
 0,
 2,
 0,
 2,
 0,
 2,
 2,
 0,
 2,
 0,
 2,
 2,
 0,
 2,
 2,
 0,
 0,
 2,
 2,
 2,
 2,
 2,
 2,
 0,
 2,
 0,
 1,
 0,
 0,
 0,
 2,
 1,
 2,
 0,
 1,
 0,
 0,
 2,
 2,
 0,
 2,
 2,
 0,
 0,
 2,
 0,
 1,
 0,
 2,
 1,
 1,
 0,
 0,
 2,
 1,
 2,
 2,
 2,
 2,
 2,
 1,
 2,
 0,
 0,
 1,
 0,
 2,
 2,
 1,
 2,
 2,
 2,
 1,
 0,
 2,
 2,
 2,
 1,
 2,
 1,
 1,
 0,
 1,
 1,
 2,
 1,
 2,
 2,
 0,
 2,
 2,
 2,
 0,
 2,
 1,
 2,
 1,
 0,
 1,
 2,
 2,
 0,
 0,
 2,
 2,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 2,
 2,
 2,
 0,
 1,
 2,
 2,
 0,
 1,
 1,
 0,
 0,
 0,
 2,
 0,
 2,
 2,
 1,
 0,
 2,
 1,
 1,
 2,
 1,
 0,
 0,
 0,
 1,
 2,
 2,
 1,
 0,
 2,
 2,
 1,
 2,
 2,
 1,
 2,
 0,
 2,
 2,
 2,
 2,
 0,
 1,
 0,
 0,
 2,
 0,
 0,
 1,
 0,
 2,
 0,
 0,
 1,
 1,
 2,
 1,
 2,
 0,
 2,
 1,
 1,
 2,
 1,
 0,
 1,
 2,
 0,
 0,
 2,
 2,
 2,
 1,
 2,
 2,
 0,
 1,
 0,
 0,
 2,
 1,
 1,
 0,
 2,
 1,
 1,
 2,
 1,
 1,
 2,
 0,
 2,
 1,
 0,
 2,
 0,
 1,
 2,
 2,
 1,
 0,
 2,
 0,
 2,
 2,
 2,
 2,
 0,
 0,
 0,
 0,
 1,
 0,
 2,
 2,
 1,
 1,
 2,
 0,
 2,
 0,
 0,
 0,
 2,
 0,
 2,
 0,
 2,
 0,
 2,
 0,
 2,
 0,
 0,
 1,
 2,
 2,
 0,
 1,
 2,
 1,
 1,
 0,
 1,
 2,
 0,
 1,
 0,
 1,
 2,
 0,
 2,
 1,
 0,
 1,
 0,
 1,
 2,
 0,
 2,
 2,
 2,
 0,
 0,
 1,
 2,
 0,
 2,
 1,
 1,
 1,
 2,
 1,
 1,
 0,
 2,
 1,
 2,
 0,
 2,
 1,
 0,
 1,
 0,
 2,
 2,
 1,
 0,
 1,
 1,
 0,
 0,
 2,
 0,
 2,
 2,
 0,
 1,
 2,
 0,
 0,
 2,
 0,
 1,
 2,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 2,
 1,
 1,
 1,
 1,
 0,
 2,
 2,
 0,
 1,
 0,
 2,
 2,
 1,
 1,
 2,
 1,
 2,
 1,
 1,
 1,
 2,
 1,
 2,
 1,
 1,
 0,
 2,
 0,
 0,
 2,
 2,
 2,
 2,
 0,
 0,
 0,
 2,
 2,
 0,
 1,
 2,
 0,
 1,
 0,
 2,
 2,
 0,
 1,
 0,
 1,
 2,
 0,
 2,
 1,
 2,
 1,
 1,
 1,
 2,
 0,
 2,
 0,
 2,
 1,
 1,
 0,
 2,
 1,
 1,
 2,
 2,
 1,
 2,
 2,
 0,
 1,
 1,
 1,
 0,
 0,
 2,
 1,
 2,
 2,
 0,
 1,
 2,
 2,
 1,
 2,
 1,
 0,
 1,
 2,
 2,
 2,
 2,
 0,
 2,
 2,
 1,
 2,
 0,
 2,
 2,
 1,
 2,
 1,
 2,
 0,
 0,
 1,
 0,
 1,
 0,
 2,
 2,
 0,
 2,
 0,
 1,
 2,
 2,
 0,
 1,
 1,
 2,
 2,
 0,
 2,
 2,
 2,
 2,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 2,
 1,
 1,
 0,
 0,
 1,
 2,
 2,
 2,
 1,
 2,
 0,
 2,
 1,
 0,
 1,
 1,
 2,
 1,
 2,
 0,
 2,
 0,
 1,
 2,
 2,
 0,
 1,
 2,
 0,
 0,
 1,
 0,
 0,
 0,
 2,
 0,
 2,
 0,
 0,
 2,
 2,
 2,
 1,
 2,
 0,
 2,
 0,
 2,
 2,
 0,
 2,
 1,
 0,
 0,
 2,
 1,
 2,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 2,
 0,
 1,
 2,
 2,
 0,
 2,
 0,
 2,
 1,
 2,
 2,
 1,
 0,
 2,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 0,
 1,
 0,
 2,
 0,
 1,
 2,
 1,
 2,
 2,
 0,
 2,
 2,
 1,
 2,
 2,
 2,
 2,
 1,
 2,
 1,
 0,
 1,
 1,
 2,
 2,
 1,
 2,
 0,
 0,
 2,
 1,
 2,
 1,
 1,
 0,
 2,
 0,
 1,
 0,
 2,
 1,
 2,
 1,
 1,
 2,
 2,
 2,
 0,
 2,
 0,
 2,
 1,
 1,
 0,
 1,
 1,
 2,
 0,
 1,
 2,
 0,
 2,
 1,
 1,
 2,
 2,
 2,
 2,
 2,
 0,
 1,
 2,
 0,
 1,
 2,
 2,
 2,
 2,
 0,
 2,
 2,
 2,
 2,
 2,
 1,
 0,
 2,
 0,
 2,
 0,
 2,
 0,
 2,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 2,
 0,
 0,
 2,
 0,
 0,
 0,
 2,
 2,
 0,
 2,
 0,
 2,
 1,
 0,
 2,
 0,
 0,
 ...]

Now we are going to asssign the cluster to the original dataframe.

In [19]:
marketing_df['Cluster'] = cluster_lst

Now one by one we are going to look for each clsuter data.

In [20]:
marketing_df[marketing_df['Cluster'] ==0].head(10)

         State           CLV  ... Months_Since_Policy_Inception  Cluster
0   Washington   2763.519279  ...                             5        0
1       Nevada  12887.431650  ...                            38        0
2   Washington   2813.692575  ...                            44        0
3       Oregon   8256.297800  ...                            94        0
4       Oregon   5380.898636  ...                            13        0
13      Oregon   5710.333115  ...                             1        0
14  California   8162.617053  ...                            21        0
15      Oregon   2872.051273  ...                            21        0
24      Nevada  18975.456110  ...                            14        0
25  Washington   5018.885233  ...                            17        0

[10 rows x 8 columns]

In [21]:
marketing_df[marketing_df['Cluster'] ==1].head(10)

         State           CLV  ... Months_Since_Policy_Inception  Cluster
7   California   8798.797003  ...                            82        1
8      Arizona   8819.018934  ...                            25        1
9   California   5384.431665  ...                            10        1
19      Oregon   5802.065978  ...                             1        1
21     Arizona  12902.560140  ...                            54        1
22      Oregon   3235.360468  ...                            44        1
27     Arizona   5744.229745  ...                            40        1
34  Washington   2443.665166  ...                            56        1
53      Oregon  22643.834780  ...                            12        1
56      Oregon   4974.801539  ...                            68        1

[10 rows x 8 columns]

In [22]:
marketing_df[marketing_df['Cluster'] ==2].head(10)

         State           CLV  ... Months_Since_Policy_Inception  Cluster
5       Oregon  24127.504020  ...                             3        2
6       Oregon   7388.178085  ...                             7        2
10      Oregon   7463.139377  ...                            50        2
11      Nevada   2566.867823  ...                             7        2
12  California   3945.241604  ...                            59        2
16  Washington   3041.791561  ...                            49        2
17     Arizona  24127.504020  ...                             3        2
18  California   2392.107890  ...                            91        2
20  Washington   5346.916576  ...                            64        2
23     Arizona   2454.583540  ...                             6        2

[10 rows x 8 columns]

If we can observed that Customer life value is vary in each cluster as well as One more thing that we could use here that standardization and normalization of the data.

## Thank You !!